$primary: #8ACB88;
$secondary: #648381;
$light: #E4FDE1;

$size: 100px;


.ant-btn-lg {
    border-radius: 0px !important;
}

.ant-input-number-handler>.anticon {
    color: $light !important;
}

.crudPanel {
    padding: 0% 0% 1% 1%;
}

.ant-typography {
    color: $light !important;
    margin: 0px !important;
}

.loading {
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-top: 15%;
}

.loading::after {
    content: "";
    width: $size;
    height: $size;
    border: calc($size/5) solid $secondary;
    border-top-color: $primary;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 2s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}