@import url('https://fonts.googleapis.com/css?family=Alexandria:300,400,500,700&display=swap');

$primary: #8ACB88;
$secondary: #648381;

$light: #E4FDE1;
$dark: #575761;

$highlight: #FFBF46;
$highlight-dark: #63636e;

* {
    font-family: 'Alexandria', serif;
}
.content>div {
    overflow-x: hidden;
}
.ant-card-meta-title {
    font-weight: 400 !important;
}
body {
    margin: 0px;
}
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.logo {
    max-height: 8vh;
}
.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}
.sticky+.content {
    padding-top: 102px;
}
.ant-layout-sider-trigger,
footer {
    height: 9.8vh !important;
}

.ant-menu-item-selected {
    background-color: $primary !important;
}

.ant-menu-item-selected:hover {
    background-color: $highlight !important;
    color: $dark !important;
}

.ant-layout-content {
    background-color: $light !important;
}

.ant-menu,
aside.ant-layout-sider {
    background-color: $secondary !important;
}
.ant-layout-sider-trigger {
    background-color: $highlight-dark !important;
}
.ant-layout-sider-trigger:hover {
    background-color: #7a7a87 !important;
}

.header>.ant-typography {
    margin: 0 0 0 0;
    left: 6.8%;
    position: absolute;
    color: $light;
    vertical-align: middle !important;
    line-height: normal !important;
    display: inline-block !important;
    font-size: 6vh;
}
.header {
    background-color: $highlight-dark !important;
    padding: 0.3% 0 0 0.8% !important;
    height: 9.8vh !important;
    align-items: center;
    line-height: 0 !important;
}

footer {
    background-color: $dark !important;
    color: $light !important;
}

.ant-layout-sider-trigger {
    overflow: 'auto';
    position: 'fixed';
    margin-bottom: 9.8vh;
    left: 0;
    z-index: 9 !important;
}

footer {
    bottom: 0 !important;
    width: 100%;
    position: fixed;
    z-index: 1 !important;
}

@media screen and (max-width: 1000px) {
    .header>.ant-typography {
        opacity: 0% !important;
    }

    footer>span {
        visibility: hidden;
    }
}

@media screen and (max-height: 300px) {
    .ant-layout-sider-trigger {
        height: auto !important;
        transition: height 0.3s;
    }
}